api/.idea
api/*.class*
api/target
api/.token
api/jasm-insert/target
api/jasm-web/target
api/jasm-web/dependency-reduced-pom.xml
api/jasm-parser/target
ui/.vscode
ui/node_modules
ui/package-lock.json
ui/.angular
