<div class="editor-parent row mx-1">
  <div class="col-md-6 col-sm-12" style="flex-direction: column">
    <app-code-editor-toolbar [showSaveClassFile]="showSaveClassFile" (onCompile)="onCompile()"
                             (onSaveToClassFile)="onSaveToClassFile()"
                             (onSaveToFile)="onSaveSourceToFile()"></app-code-editor-toolbar>
    <app-code-editor #codeEditor></app-code-editor>
  </div>
  <div class="col-sm-12 col-md-6" *ngIf="result?.executionResult || result?.classFile">
    <h2 style="color: aliceblue">Execution results:</h2>
    <p style="color: aliceblue">Standard output: {{result?.executionResult?.stdOut}}</p>
    <app-constant-pool [constantPool]="result?.classFile?.constantPool"></app-constant-pool>
  </div>
  <div class="col-sm-12 col-md-6" style="background-color: #cd5c5caa" *ngIf="result?.error">
    <h2>{{ result?.error?.summary }}</h2>
    <p>{{ result?.error?.details }}</p>
  </div>
</div>
