<div class="editor-parent row mx-1">
  <div class="col-md-6 col-sm-12" style="flex-direction: column">
    <app-code-editor-toolbar [showSaveClassFile]="showSaveClassFile" (onCompile)="onCompile()"
                             (onSaveToClassFile)="onSaveToClassFile()"
                             (onSaveToFile)="onSaveSourceToFile()"></app-code-editor-toolbar>
    <app-code-editor #codeEditor></app-code-editor>
  </div>
  <div class="col-sm-12 col-md-6" *ngIf="result?.executionResult || result?.classFile">
    <h2 style="color: #c73a30">Execution results:</h2>
    <p style="white-space: pre-line; color: aliceblue">Standard output: </p>
    <code style="white-space: pre-line;">
      {{result?.executionResult?.stdOut}}
    </code>
    <br>
    <app-constant-pool [constantPool]="result?.classFile?.constantPool"></app-constant-pool>
  </div>
</div>
