/* You can add global styles to this file, and also import other style files */
html, body, app-root, app-home {
  margin: 0;
  padding: 0;
}

body, app-home, app-root {
  height: 100vh;
}

app-root, app-home {
  display: block;
}

.editor-parent {
  height: 100%;
}

* {
  color: aliceblue;
}
